$color-1: rgb(224, 198, 142);
$color-2: hsla(210, 36, 80, 1);
$color-3: hsla(165, 17, 30, 1);
$color-text: rgba(3, 5, 14, 0.966);

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $color-1;
    justify-content: center;
	align-items: center;
	z-index: 99;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	z-index: 100;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
